* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#btn-menu-toggle {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: lightgray;
  background-image: url(/main/img/Hamburger_icon.svg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#color-menu {
  position: absolute;
  margin-top: 10px;
  width: 300px;
}
.menu-hide {
  visibility: hidden;
}

.radio-buttons input[type="radio"] {
  display: none;
}
.radio-buttons label {
  display: inline-block;
  
  width: 100%;
  height: 50px;
  margin-bottom: 3px;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 18px;
  cursor: pointer;
}
.radio-buttons input[type="radio"]:checked + label {
  
}

.btn-main {
  display: inline-block;
  background-color: orange;
  width: 100%;
  height: 50px;
  margin-bottom: 3px;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 18px;
  cursor: pointer;
}

.btn1{
background-color: grey;
}
.btn2{
  background-color: red;
  }
.btn3{
  background-color: orange;
  }
.btn4{
  background-color: purple;
  }
.btn5{
  background-color: green;
  }
li{
    vertical-align: middle;
  }

